.navbar-nav{
    height: 60px;
    width: 100%;
    background-color: rgb(226, 107, 10);
}
.nav-link{
    margin-left: 180px;
    margin-right: 180px;
    color: rgb(15, 13, 13);
    font-size: 30px;
}
.App{
    background-Image:linear-gradient(rgb(111, 132, 139),rgb(121, 71, 121),rgb(38, 57, 65));
    padding-bottom: 380px;
}
.formmodule{
    text-align: center;
}
.table table-bordered{
    margin-top: 60px;
}
.addstudent{
    margin-top: 30px;
    padding: 20px;
    background-color: lightgreen;
}